type camera_test, domain;
type camera_test_exec, exec_type, file_type;

init_daemon_domain(camera_test)

allow camera_test sys_camera_test:file { open read write};
allow camera_test rootfs:lnk_file { open read write getattr};
